:root {
  --gris-clair: #E0E1E2;
  --orange: #F19800;
  --gris-foncé: #4B5563;
  --blanc: #ffffff;
}
.card-container2{
    display: flex;
    
    /* Si le conteneur est étroit, les éléments seront disposés sur
    plusieurs rangées plutôt que hors du cadre.*/
    flex-wrap: wrap;
    
    margin-left : 20rem; 
    margin-top: 2rem;
    z-index : -2;
    margin-bottom: 50px;
    
}
.card-produit-img2{
    width:13rem;
    margin-bottom: 1rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;

}
.card-produit-details2{
    margin: auto;
    
    gap: 1px;

}
.card-produit2{
    background-color: #f5f6f362;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px ;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* ظل خفيف وناعم */
    transition: box-shadow 0.3s ease;
    position: relative;

}
.card-produit-title2{
    
    margin-bottom: 1%;
}
.card-produit-reviews2{
    margin-bottom: 1rem;
    display: flex;
}

.ratings-star{
    color: var(--orange);
}
.total-reviews{
    font-size:0.9rem ;
    margin:auto;
}
.card-produit-price2 .price{
    font-size: 25px;
    margin-bottom: 4%;
}
.card-produit-price2{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-ajouter2{
  padding : 4px 7px;
  margin-right: 8px;
  background-color:var(--orange);  
  background: var(--orange);
  border:none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 4%;
  box-shadow: inset 0 0 15px rgb(152, 105, 19);
}
.btn-Loueur2{

    position: absolute;
    right: 4px;
    bottom: 1px;
    cursor: pointer;
  
  
}