:root {
  --gris-clair: #E0E1E2;
  --orange: #F19800;
  --gris-foncé: #4B5563;
  --blanc: #ffffff;
}
.card-container{
    display: flex;
    /* Si le conteneur est étroit, les éléments seront disposés sur
    plusieurs rangées plutôt que hors du cadre.*/
    flex-wrap: wrap;
    
    margin-left : 20rem; 
    margin-top: 2rem;
    z-index : -2;
}
.card-img{
    width:13rem;
    margin-bottom: 1rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;

}
.card-details{
    margin: auto;
    margin-left: 1rem;
    gap: 1px;
    
}
.card{
    background-color: #f3f4f662;
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px ;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); /* ظل خفيف وناعم */
    transition: box-shadow 0.3s ease;
}

.card-title{
    
    margin-bottom: 1rem;
}
.card-reviews{
    
    margin-bottom: 1rem;
    display: flex;
}

.rating-start{
    color: var(--orange);
}
.total-reviews{
    font-size:0.9rem ;
    margin-left: 10px;
}
.card-price .price{
    font-size: 25px;
    margin-bottom: 4%;
}
.card-price{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-ajouter{
  padding : 4px 7px;
  margin-right: 8px;
  background-color:var(--orange);  
  background: var(--orange);
  border:none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 4%;
  box-shadow: inset 0 0 15px rgb(152, 105, 19);
}