
.flex-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f6f6f6;

}
.title-contact{
  width: 100%;
  text-align: center;
  margin-bottom:50px ;
  margin-top: 50px;

}
.title-contact h1{
  text-transform: uppercase;
  font-size: 35px;
  color: #F19800;

}
.title2{
    font-size: 14px;
    font-family: sans-serif;
}
.title-contact h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: #ecbc6e;
  border-radius: 25px;
  display: block;
  margin: auto;
}
.form-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.4);
    width: 25%;

}
input {
    width: 100%;
    height: 30px;
    border: none;
    margin-left: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 5px;
}
.form-contact  input,
.form-contact  textarea , 
 .title2{
    margin-bottom:10px;
    
}
#btn-envoyer{
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #F19800 ;
    color: white;
    font-size: 20px;

}
.form-contact hr{
    width: 100%;
    margin-bottom: 10px;
    background-color: #17226b;
}
.form-contact input,
.form-contact  textarea{
    padding: 5px 5px;
    background-color: #ebe9e5;
    
}
.disabled-contact{
    background-color: rgb(189, 188, 188) !important;
}