
.flex-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f6f6f6;

}
.div-connexion{
  display: flex;
  flex-direction: row;
  
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}
.logo-connexion{
  width: 25%;
  
}

.div-connexion img {
  width: 100%;
}

.title-connexion{
  width: 100%;
  text-align: center;
  margin-bottom:50px ;
  margin-top: px;

}
.title-connexion h1{
  text-transform: uppercase;
  font-size: 35px;
  color: #F19800;

}

.title-connexion h1::after{
  content: "";
  height: 5px;
  width: 100px;
  background-color: #ecbc6e;
  border-radius: 25px;
  display: block;
  margin: auto;
}
.form-connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    color: gray;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.4);
    width: 30%;

}





.form-connexion .email-input-contact{
    padding: 5px 5px !important;
    background-color: #ebe9e5;
    
}
.disabled-contact{
    background-color: rgb(189, 188, 188) !important;
}

  .div-btn-connexion{
    display: flex;
    flex-direction: row;
    
    position: relative;
    width: 100%;
  }
.btn-password{
  position: absolute;
  right: 25px;
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 0.8rem;
  bottom:18px;

}
.btn-input-password{
  margin-left: 10px;
  
  
}
.form-connexion .password-input-connexion{
  width: 90%;
  height: 30px;
  border: none;
  margin-left: 20px;
  margin-bottom:10px;
  padding: 5px 5px !important;
  background-color: #ebe9e5;
  text-align: left;

}

.form-connexion .email-input-connexion{
  width: 90%;
  height: 30px;
  border: none;
  margin-left: 5px;
  margin-bottom:10px;
  padding: 5px 5px !important;    
  background-color: #ebe9e5;
  text-align: left;

}
#btn-connexion-contact{
    margin-top: 20px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F19800 ;
    color: white;
    font-size: 20px;
    width: 90%;
}
.lien-creer-connexion{
  border: 2px solid #bab9b9  ;
  border-radius: 5px;
  width: 90%;
  padding: 5px 23%
}
.lien-oublie-connexion{
  border: 2px solid #bab9b9 ;
  border-radius: 5px;
  width: 90%;
  padding: 5px 18%
}
.lien-creer-connexion:hover ,
.lien-oublie-connexion:hover{
  border: 2px solid #F19800 ;

}
.password-input-contact::placeholder ,
.email-input-contact::placeholder{
 margin-left: 0px;
 text-align: center;
}
@media screen and (max-width: 768px) {
  .div-connexion{
  display: flex;
  flex-direction: column;
  
  width: 80%;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 30px;
}

  }