#alert{
    background-color: rgb(0, 0,0, 0.55);
    position: absolute;
    width: 100%;
    height: 129vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alert-content{
    background-color: white;
    height: 6%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
}
#alert-content h1{
    margin-top: 20px;
    color: green;
}